# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & local config
.venv/
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# Editor (keep these two if you want to share debug/run configs)
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
